body{
    background-color: rgb(4, 7, 39);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contentAll{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 40px auto;
}
.content{
    width: 200px;
    margin: auto;
    border: red 1px solid;
    border-radius: 10px;
}
#img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#prompt{
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(75, 99, 99);
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}
.button-start{
    width: 100%;
    margin: 30px 100px;
    padding: 10px;
    background-color: rgb(94, 91, 87);
    font-size: 20px;
    border: none;
    border-radius: 4px;
}
.radio-first-page{
    display: none;
}
@media screen and (max-width:425px) {
    .content{
        width: 170px;
    }
}